@inherits LayoutComponentBase
<header>
    <div class="container">
        <a id="logo-link" href="/"><img id="header-logo" src="./Logga_lila.svg" alt="Logga Emma Görling"></a>
    </div>
</header>


<main role="main" class="">
    <div class="container">
        <!-- SIDE MENU -->
        <NavMenu />
        <!-- MAIN CONTENT -->
        <div id="page-content">
            @Body
        </div>
    </div>
</main>


<footer>
    <div class="container">
        <p>Av Emma Ådahl Görling - Kontakta mig via e-post: <a href="mailto:adahl.gorling@gmail.com">adahl.gorling@@gmail.com</a></p>
    </div>
</footer>
