@inject IJSRuntime JS
<!-- SIDE MENU -->
<div id="side-menu">
    <button id="menu-btn">
        <span class="menu-bar-1"></span>
        <span class="menu-bar-2"></span>
        <span class="menu-bar-3"></span>
    </button>
    <nav id="side-menu-nav">
        <ul>
            <li class="">
                <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink>
            </li>
            <li class="">
                <NavLink href="converter">Konvertering</NavLink>
            </li>
            <li class="">
                <a href="json">JSON</a>
            </li>
        </ul>
    </nav>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Kör JavaScript-koden när sidan är färdigrenderad
            await JS.InvokeVoidAsync("initializeMenu");
        }
    }
}