
<!-- SIDE MENU -->
<div id="side-menu">
    <button id="menu-btn" @onclick="ToggleMenu" class="@buttonChange">
        <span class="menu-bar-1"></span>
        <span class="menu-bar-2"></span>
        <span class="menu-bar-3"></span>
    </button>
    <nav id="side-menu-nav" style="display: @isMenuOpen;">
        <ul>
            <li class="">
                <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink>
            </li>
            <li class="">
                <NavLink href="converter">Konvertering</NavLink>
            </li>
            <li class="">
                <a href="json">JSON</a>
            </li>
        </ul>
    </nav>
</div>

@code {
    private string isMenuOpen = "none";
    private string buttonChange => isMenuOpen == "block" ? "active" : "";

    private void ToggleMenu() {
        if(isMenuOpen == "block") {
            isMenuOpen = "none";
        } else {
            isMenuOpen = "block";
        }
    }
}    using System.ComponentModel.Design;

#line default
#line hidden
#nullable disable
