<!-- SIDE MENU -->
<div id="side-menu" class="w-md-auto p-2">
    <button id="menu-btn">
        <span class="menu-bar-1"></span>
        <span class="menu-bar-2"></span>
        <span class="menu-bar-3"></span>
    </button>
    <nav id="side-menu-nav">
        <ul class="navbar-nav flex-grow-1 text-center">
            <li class="">
                <a href="#">Hem</a>
            </li>
            <li class="">
                <a href="#">Konvertering</a>
            </li>
            <li class="">
                <a href="#">JSON</a>
            </li>
        </ul>
    </nav>
</div>
