@page "/"

<PageTitle>Home</PageTitle>

<h1>Välkommen hit!</h1>

<p>
    Välkommen till min första Blazor WebAssembly-applikation! 
</p>
<p>
    På sidan <a class="paragraph-link" href="/converter">Konvertering</a> 
    kan du testa konvertering mellan meter och fot, samt kilometer/h och miles/h. 
    <br>
    På sidan <a class="paragraph-link" href="/json">JSON</a> listas de kurser som ingår i webbutvecklingsprogrammet vid Mittuniversitetet.
</p>
<p>
    Det var lite klurigt att förstå hur data-bindning fungerar mellan input-fälten, 
    men när jag väl fick grepp om det känns det väldigt logiskt. 
    Blazor verkar vara ett användbart verktyg, och jag ser fram emot att lära mig mer.
</p>
